@font-face {
    font-family: 'normalVazir';
    src: url(../public/font/ttf/Vazirmatn-Medium.ttf);
}
@font-face {
    font-family: 'lightVazir';
    src: url(../public/font/ttf/Vazirmatn-Light.ttf);
}
.container{
    background-color: #ccdeed;
    font-family: 'normalVazir';
}
.bg-color{
    background-color: #5db8cd;
    height: 120vh;
}
.menu-close{
  display: none;
}
.menu-close-img svg {
  width: 50px;
  height: 50px;
  margin-top: -80px;
  padding-left: 5px;
  color: white;
}
.menu-open {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #333333;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
}
.bg-dashboard-color{
  background: #b4b4b48a;
  min-height: 100vh;
}
.bg-adv-color{
  background: #b4b4b48a;
  min-height: 100vh;
}
.menu-img svg {
  display: none;
  width: 64px;
  height: 64px;
  padding-left: 10px;
  color: white;
  padding-top: 3px;
}
.profile svg {
  width: 30px;
  position: absolute;
  top: 10px;
  left: 22px;
  height: 30px;
  color: white;
  padding: 10px;
  background-color: #0388f4;
  border-radius: 10px;
}
.header{
    z-index: 1030;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #252525;
    
}
.header-name{
    color: #000;
    font-family: 'normalVazir';
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.brand-img{
    width: 35px;
    height: 35px;
}
.header-brand{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 260px;
    height: 71px;
    background-color: #FFF;
}
.option-group{
  display: flex;
  width: 260px;
  justify-content: space-between;
}
.header-option-text{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a{
    text-decoration: none;
}
.login-text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    font-family: 'normalVazir';
    line-height: normal;
}
.login-img{
    width: 29px;
    height: 29px;
}
.header-option{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.option-text-group{
  display: flex;
  position: absolute;
  top: 29px;
  justify-content: space-between;
  gap: 101px;
  height: 23.739px;
  right: 350px;
}
.option-text{
    font-family: 'normalVazir';
    color: white;
    text-decoration: none;
}
.login-box {
    font-family: 'normalVazir';
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 140px 40px 40px;
    transform: translate(-50%, -50%);
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  .login-box h2{
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35px;
    left: 90px;
    /* background: #f4f9e3; */
    padding: 15px;
    border-radius: 30px;
  }
  .login-box h3{
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35px;
    left: 80px;
    /* background: #f4f9e3; */
    padding: 15px;
    border-radius: 30px;
  }
  .login-box .user-box {
    position: relative;
    margin-bottom: 15px;
  }
  .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 1230px;
    right: 350px;
    background: rgba(0, 102, 255, 1);
    border-radius: 100px;
}
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circlee:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circlee:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadoww {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadoww:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadoww:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .login-box .user-box input {
    direction: ltr;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -23px;
    width: 78px;
    left: 238px;
    color: #bdb8b8;
    font-size: 16px;
  }
  
  .a {
    font-family: 'normalVazir';
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
  }
  .login-box div a.have-account{
    font-family: 'normalVazir';
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff63;
    font-size: 15px;
  }
  .login-box div a.have-account:hover{
    color: white;
  }
  
  .a:hover {
    background: #0388f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0377f4,
                0 0 25px #034bf4,
                0 0 50px #039cf4,
                0 0 100px #1a016d;
  }
  
  .a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03ccf4);
    animation: btn-anim1 2s linear infinite;
  }

.login-btn {
    position: absolute;
    top: 11px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    border: 5px solid rgb(255, 255, 255);
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    animation: flickering 2s linear infinite both;
    background-color: rgb(83, 82, 82);
    color: rgb(234, 234, 234);
    font-family: 'normalVazir';
    transition: 0.6s;
    -webkit-box-reflect: below 20px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  @keyframes flickering {
    0%,
    100% {
      opacity: 1;
    }
  
    41.99% {
      opacity: 1;
    }
  
    42% {
      opacity: 0;
    }
  
    43% {
      opacity: 0;
    }
  
    43.01% {
      opacity: 1;
    }
  
    47.99% {
      opacity: 1;
    }
  
    48% {
      opacity: 0;
    }
  
    49% {
      opacity: 0;
    }
  
    49.01% {
      opacity: 1;
    }
  }
  

  
  .login-btn:hover {
    background-color: rgb(66, 133, 182);
  }
  
  
  
  
  
  /* --------------------------- hero section ------------------------------*/

.hero{
    max-width: 1440px;
    height: 705px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-h1{
    width: 350px;
    line-height: 50px;
    height: 255px;
    color: #353535;
    line-height: normal;
    text-align: right;
    font-size: 60px;
    font-weight: 900;
    margin-right: 180px;
}
.hero-h6{
    color: #353535;
    text-align: right;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 600px;
    right: 390px;
}
.hero-little-img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 413px;
    left: 1052px;
}
.hero-img{
  width: 819px;
  position: absolute;
  left: 0;
  top: 115px;
}
.boble{
    background-color: white;
    width: 114px;
    height: 114px;
    color: #1ED500;
    border-radius: 100px; 
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.boble.one{
    position: absolute;
    top: 259px !important;
    left: 102px !important;
}
.boble.two{
    position: absolute;
    top: 225px !important;
    left: 585px !important;
}
.text-one{
    position: absolute;
    top: 27px  !important;
    left: 26px  !important;
}
.text-two{
    position: absolute;
    top: 30px !important;
    left: 13px !important;
}

/* ----------------------------------- third section ---------------------------------*/


.third{
    height: 550px;
    background: #FFFAD1;
    display: flex;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

.right {
    display: flex;
}

.right-text {
    width: 282px;
    height: 37px;
    color: #000;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 35px;
    margin-right: 35px;
}
.right-img {
  width: 480px;
  height: 487px;
  top: 851px;
  right: 20px;
  position: absolute;
}
.left{
    display: flex;
}
.box-right{
    width: 300px;
    height: 283px;
    top: 200px;
    left: 60px;
    position: absolute;
    border-radius: 4px 4px 4px 70px;
    background: #3EB1B1;
    box-shadow: -12px 13px 4px 0px rgba(0, 179, 255, 0.25);
}
.box-left{
    width: 302px;
    height: 288px;
    top: 20px;
    left: -300px;
    position: absolute;
    border-radius: 4px 70px 4px 4px;
    background: #3EB1B1;
    box-shadow: 9px 10px 4px 0px rgba(0, 179, 255, 0.25);
}
.box-right-img{
    width: 258px;
    height: 172px;
    top: 112px;
    left: 42px;
    position: absolute;
}
.box-left-img{
    top: -16px;
    left: 14px;
    position: absolute;
}
.box-text{
    width: 157px;
    height: 57px;
    border-radius: 5px;
    background: #454545;
    font-family: 'normalVazir';
    color: #FFF;
    text-align: center;
    font-size: 28px;
}

.button-adv.right{
    top: 50px;
    left: 85px;
    position: absolute;
}
.button-adv.left{
    top: 195px;
    left: 85px;
    position: absolute;
}


.comment{
    height: 935px;
    display: flex;
}
.comment-label{
    display: flex;
    border-radius: 100px 0 0 100px;
    width: 624px;
    height: 189px;
    background-color: #454545;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.comment-label-text{
    color: #FFF;
    font-family: 'normalVazir';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.comment-label-img{
    width: 94px;
    height: 94px;
}

.column{
    width: 45px;
    height: 632px;
    position: absolute;
    top: 1523px;
    left: 342px;
    border-radius: 50px;
    background-color: rgba(0, 21, 130, 1);
}
.comment-body{
    width: 439px;
    height: 227px;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
}

.first-comment{
    z-index: 1;
    position: absolute;
    top: 1571px;
    left: 128px;
}
.second-comment{
    z-index: 1;
    position: absolute;
    top: 1873px;
    left: 228px;
}

.comment-body-first{
    width: 126px;
    height: 124px;
    top: -70px;
    left: -40px;
    position: absolute;
    border-radius: 100px;
}
.comment-body-second{
    width: 126px;
    height: 124px;
    top: -70px;
    left: 360px;
    position: absolute;
    border-radius: 100px;
}

.body-text{
    width: 439px;
    height: 150px;
    background: rgba(170, 194, 255, 1);
}
.body-text.top{
    width: 439px;
    height: 150px;
    top: 77px;
    left: 0px;
    position: absolute;
}
.body-text.bottom{
    width: 439px;
    height: 150px;
    top: 77px;
    left: 0px;
    position: absolute;
}
.body-text.top p{
    width: 397px;
    height: 54px;
    top: 20px;
    left: 20px;
    position: absolute;
    color: #353535;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.first-comment .head-text{
    width: 128px;
    height: 36px;
    top: 15px;
    left: 280px;
    position: absolute;
}
.second-comment .head-text{
    width: 128px;
    height: 36px;
    top: 15px;
    left: 20px;
    position: absolute;
}
.head-text{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.body-text.bottom p{
    width: 397px;
    height: 54px;
    top: 20px;
    left: 20px;
    position: absolute;
    color: #353535;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button-adv {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       rgba(255, 90, 64, 0.652),
       hsl(45, 82%, 58%) 8%,
       hsl(45, 82%, 58%) 8%,
       rgba(255, 90, 64, 0.652)
     );
   }
   
   .front {
    font-family: 'normalVazir';
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.3rem;
    color: white;
    background: hsl(19.89deg 100% 57.82%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .button-adv:hover {
    filter: brightness(110%);
   }
   
   .button-adv:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .button-adv:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .button-adv:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .button-adv:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   .button-adv:focus:not(:focus-visible) {
    outline: none;
   }


   /* ------------------------------- section 4 ----------------------------------*/


.add-adv{
    height: 542px;
    background-color: #FFFAD1;
}

.adv-img {
  width: 487px;
  height: 392px;
  top: 2305px;
  right: 170px;
  position: absolute;
}
.adv-text {
  width: 343px;
  height: 47px;
  top: 2435px;
  right: 252px;
  position: absolute;
  color: #393939;
  text-align: right;
  font-size: 39px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.adv-left-text {
  width: 321px;
  position: absolute;
  height: 72px;
  top: 2338px;
  left: 190px;
  text-align: center;
  color: #000000;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.advbutton{
    top: 2585px;
    left: 260px;
    position: absolute;
}
.advbuttonTwo{
    padding: 20px 35px;
    font-size: 2.1rem;
}

/* -------------------------- info -------------------------*/

.info {
  height: 372px;
  display: flex;
  background-color: #FFFAD1;
  justify-content: center;
}
.info .right h3{
    height: 54px;
    right: 95px;
    top: 25px;
    position: relative;
    color: #333;
    text-align: right;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.network {
  width: 40px;
  height: 40px;
  top: -15px;
  right: 305px;
  position: relative;
}



.info .right p{
    top: 178px;
    left: 120px;
    height: 29px;
    color: #333333cf;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}
.email {
  width: 35px;
  height: 35px;
  position: relative;
  top: 148px;
  left: -157px;
}
.linkedin {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 10px;
  background: rgba(20, 28, 219, 1);
  position: relative;
  top: 210px;
  left: 0px;
}
.linkedin-text{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    position: absolute;
    top: 11px;
    left: 23px;
}

.github{
    width: 71px;
    height: 70px;
    display: block;
    top: 140px;
    left: 110px;
    border-radius: 10px;
    background: rgb(219, 146, 20);
    position: relative;
}
.github-text {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  position: relative;
  top: 18px;
  left: -17px;
}
.telegram {
  width: 71px;
  height: 70px;
  top: 70px;
  left: -110px;
  display: block;
  border-radius: 10px;
  background: rgb(48, 55, 255);
  position: relative;
}
.telegram-text {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  position: relative;
  top: 14px; 
  left: -15px;
}


.info .left h3{
    width: 208px;
    height: 54px;
    top: 2813px;
    left: 455px;
    /* position: absolute; */
    color: #FFF;
    text-align: right;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.info .left p{
    top: 2935px;
    left: 40px;
    /* position: absolute; */
    width: 627px;
    height: 129px;
    color: #333333cf;
    text-align: right;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
}
.info-img{
    width: 40px;
    height: 40px;
    top: 2826px;
    left: 440px;
    /* position: absolute; */
}
/* ---------------------------- footer ---------------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px 5px 80px;
  height: 100px;
  background: #363636;
}
.copy-right{
    width: 45px;
    height: 45px;
}
footer p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}
.year{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.footer-text{
    display: flex;
    align-items: center;
    gap: 15px;
}

aside{
  width: 250px;
  display: flex;
  height: 530px;
  background-color: #151515;
  position: fixed;
  right: 0px;
  align-items: flex-start;
  border-radius: 50px 0 0 20px;
  top: 150px;
  flex-direction: column;
  justify-content: space-evenly;
}
aside a{
  padding-right: 40px;
  color:  #c7c7c7;
  font-size: 20px;
  font-family: 'lightVazir';
}
.aside-focus{
  font-weight: bold;
  color:  #ffffff;
}
.focuced{
  font-weight: bold;
  color:  #ffffff;
}

aside p{
  color: white;
  font-size: 13px;
  font-family: 'normalVazir';
}
.profile-dash{
  margin: auto;
  margin-top: -5px;
  margin-bottom: 23px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}
aside svg{
  height: 50px;
  width: 50px;
  color: #034bf4;
}
.logout{
  color: red;
  font-size: 20px;
  font-family: 'normalVazir';
}
.column-dashboard{
  width: 2px;
  height: 250px;
  top: 50px;
  right: 124px;
  transform: rotate(90deg);
  position: absolute;
  background-color: white;
}

.dashboard-title{

  color: #333;
  font-size: 25px;
  font-family: 'normalVazir';
}

.dashboard-text{
  color: #000000;
  font-size: 20px;
  font-family: 'lightVazir';
}
.join-date{
  display: flex;
  gap: 5px;
  font-family: 'normalVazir';
  background-color: #ffffffc2;
  padding: 20px;
  border-radius: 5px;
}
.add-title-2{
  position: absolute;
  top: 200px;
  right: 300px;
  color: #333;
  font-size: 25px;
  font-family: 'normalVazir';
  display: flex;
  gap: 15px;
  font-size: 30px !important;
}
.text-group{
  position: absolute;
  top: 280px;
  right: 400px;
}
.transaction{
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.dashboard-transaction-group {
  position: absolute;
  top: 300px;
  right: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.dashboard-transaction-group h2{
  color: black;
  font-family: 'normalVazir';
  font-size: 25px;
}
.input-textInput{
  padding: 10px 25px;
  border-radius: 7px;
  border: none;
  font-family: 'normalVazir';
}
.title-textInput{
  font-family: 'normalVazir';
  margin: 15px 0px;
  font-size: 15px;
}
.textarea-textInput{
  font-family: 'normalVazir';
  padding: 20px 55px;
  width: 300px;
  height: 150px;
  border-radius: 7px;
  border: none;
}
.radios {
  display: flex;
  margin-left: 45px;
}

.radios div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0037ff9e;
  color: white;
  margin: 30px 0 0 30px;
  width: 70px;
  font-family: 'lightVazir';
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.dashboard-title-2{
  margin-top: 60px;
  display: flex;
  color: #333;
  gap: 10px;
  font-size: 20px !important;
  font-family: 'normalVazir';
}
.add-textlist{
  border: none;
  background-color: #304ffe;
  color: #fff;
  font-size: 1rem;
  font-family: 'normalVazir';
  border-radius: 5px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  gap: 5px;
  padding: 4px 8px;
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.add-textlist:hover{
  transform: scale(1.05);
}

.card-textlist {
  display: flex;
  margin: 10px 0;
}

.card-textlist input {
  width: 300px;
  font-family: 'normalVazir';
  border: 1px #304ffe dashed;
  color: grey;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  height: 30px;
  margin-left: 10px;
}

.card-textlist input:focus {
  border: 1px #304ffe solid;
  outline: none;
}

.card-textlist button{
  gap: 5px;
  margin: 0;
  color: white;
  font-family: 'lightVazir';
  background-color: #db0505;
  border: 1px #db0505 solid;
  border-radius: 5px;
  display: flex;
  font-weight: 600;
  align-items: center;
  line-height: 10px;
}
.card-textlist button svg{
  font-size: 18px;
}
.rmdp-input {
  border: 1px solid #c0c4d6;
  border-radius: 5px;
  height: 22px;
  font-family: 'normalVazir'; 
  margin: 30px 0 0!important;
  padding: 2px 5px;
}
.category-date{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.addadvertisement{
  font-family: 'normalVazir';
    padding: 10px 150px !important;
    border: none;
    border-radius: 5px;
    background: blue;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}
.addadvertisement-loading{
  position: absolute;
  top: 1150px;
  right: 70px;
}
.addadvertisement:hover{
  font-family: 'normalVazir';
    border: none;
    background: rgb(0, 0, 177);
    color: white;
    transform: scale(1.05);
}
.Toastify__toast-body > div:last-child {
  font-family: 'normalVazir';
  word-break: break-word;
  flex: 1 1;
}
.no-adv {
  background: #ff737333;
  padding: 20px;
  color: #ab0000;
  border-radius: 10px;
  text-align: center;
  font-family: 'normalVazir';
  font-size: 22px;
}
.dashboard-card-container {
  background-color: white;
  display: flex;
  border: 2px solid #304ffe58;
  border-radius: 15px;
  width: 440px;
  margin: 20px;
}

.dashboard-card-main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: baseline;
}
.dashboard-card-group{
  position: absolute;
  top: 200px;
  right: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dashboard-card-group .card-container {
  background: white;
  width: 500px;
  border: 2px solid #304ffe58;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  font-family: 'lightVazir';
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.742);
}
.dashboard-card-main button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  font-family: 'normalVazir';
  background-color: #fff;
  cursor: pointer;
  height: 40px;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid rgb(0, 168, 0);
  color: rgb(0, 168, 0);
}

.dashboard-card-main svg {
  font-size: 1.1rem;
  margin-right: 10px;
}

.dashboard-card-main button:last-child {
  border: 1px solid #db0505;
  color: #db0505;
  margin-top: 10px;
}
.card-container {
  background: white;
  width: 220px;
  border: 2px solid #304ffe58;
  border-radius: 10px;
  padding: 15px;
  margin: 30px;
  font-family: 'lightVazir';
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.742);
}
.card-container-dashboard {
  margin: 10px;
}
.card-container a:hover{
  font-weight: 600;
}
.card-container:hover{
  cursor: pointer ;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
  /* transform: translate(5% , 5%); */
}  
.card-icon svg {
  font-size: 1.8rem;
  background-color: #304ffe58;
  color: #304ffe;
  padding: 3px;
  border-radius: 5px;
}
.card-icon{
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.card-container .meterage{
  margin-top: 0px;
}
.card-title {
  font-family: 'normalVazir';
  font-weight: 400;
  margin: 10px 0px 20px 0px;
}

.card-location {
  display: flex;
  color: grey;
  font-size: 0.9rem;
}

.card-location svg {
  margin-left: 5px;
  font-size: 1rem;
}

.card-container span {
  color: grey;
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
}

.card-container a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0.95rem;
  font-weight: 400;
  color: #304ffe;
}

.card-container a svg {
  font-size: 1.5rem;
}

.customCheckBoxHolder {
  display: flex;
}



.customCheckBox:hover {
  background-color: #181818;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 18px;
  font-weight: 900;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
  background-color: #2d6737;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
  background-color: #34723f;
  box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}
.filter-session{
  padding-top: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.customCheckBox {
  font-family: 'lightVazir';
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.738);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
}
.filter-text{
    font-family: 'normalVazir';
    padding-bottom: 25px;
    font-size: 30px;
}

.residential-group{
  padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ///////////////////////////////////////////////// */
.detaile-bg{
  background-color: aliceblue;
}
.detaile-container {
  margin: auto;
  display: flex;
  padding: 200px 100px;
  max-width: 1200px;
  font-family: 'normalVazir';
  justify-content: space-evenly;
}
.detaile-main p {
  text-align: justify;
  margin-bottom: 50px;
  line-height: 26px;
  max-width: 650px;
  font-family: 'normalVazir';
}
.detaile-main {
  width: 100%;
}
.detaile-sidebar div {
  box-shadow: #304ffe4a 0px 4px 15px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-width: 230px;
}
.detaile-main h1 {
  color: #304ffe;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.detaile-main span {
  display: flex;
  align-items: flex-start;
  height: 15px;
  margin-bottom: 50px;
  color: grey;
}

.detaile-main span svg {
  font-size: 1.2rem;
  margin-left: 5px;
}

.itemList-container li{
  
    color: #333;
    padding-top: 20px;
    font-weight: bolder;

}

.detaile-sidebar {
  width: 250px;
  margin-right: 40px;
}


.detaile-realState {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detaile-realState svg {
  font-size: 3rem;
  color: #304ffe;
  margin: 10px 0 20px;
}

.detaile-realState p {
  font-size: 1.1rem;
  font-weight: 400;
}

.detaile-realState span {
  display: flex;
  align-items: center;
  color: grey;
  margin-top: 20px;
}

.detaile-realState span svg {
  font-size: 1.4rem;
  margin: 0;
  margin-left: 5px;
  color: grey;
}

.detaile-share {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detaile-share button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  color: grey;
  height: 20px;
  transition: all ease-in 0.1s;
}

.detaile-share button:hover {
  color: #304ffe;
}

.detaile-share svg {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #304ffe;
}

.detaile-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 !important;
}
.detaile-price p {
  display: flex;
  align-items: center;
  color: grey;
  margin-bottom: 20px;
  height: 20px;
}

.detaile-price p svg {
  font-size: 1.5rem;
  margin-left: 5px;
  color: #304ffe;
}
.itemList-container ul {
  padding-right: 20px;
  margin-bottom: 50px;
}

.itemList-container li::marker {
  color: #304ffe;
}
.detaile-title {
  color: #304ffe;
  font-size: 1.1rem;
  font-weight: 400;
  border-bottom: 2px solid silver;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.notif-group{
  position: absolute;
  top: 230px;
  right: 296px;
}
.notif{
    margin: 30px !important;
    font-family: 'normalVazir';
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-size: 19px;
}
.success-notif{
  background-color: #0b9a20 !important;
}
.faild-notif{
  background-color: #a72525;
}
.if-notpublish{
  font-family: 'normalVazir';
  padding: 10px;
  color: white;
  background: #d2ca2f;
  border-radius: 8px;
}
.if-publish{
  font-family: 'normalVazir';
  padding: 10px;
  color: white;
  background: rgb(0, 158, 16);
  border-radius: 8px;
}
.loader {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.loader div {
  width: 8%;
  height: 24%;
  background: rgb(128, 128, 128);
  position: absolute;
  left: 50%;
  top: 30%;
  opacity: 0;
  border-radius: 50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  animation: fade458 1s linear infinite;
}

@keyframes fade458 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

.loader .bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.loader .bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -1.1s;
}

.loader .bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -1s;
}

.loader .bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.9s;
}

.loader .bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.8s;
}

.loader .bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.7s;
}

.loader .bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.6s;
}

.loader .bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.loader .bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.4s;
}

.loader .bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.3s;
}

.loader .bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.2s;
}

.loader .bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.1s;
}

.input-wrapper {
  background-color: #eee;
  border: black solid 1px;
  padding: 1rem;
  font-family: 'normalVazir';
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: black;
  margin: 0px 10px 10px 30px ;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}
.input-group{
  display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.input-wrapper:focus {
  outline-color: blue;
  border: none
}
.dashboard-text-group{
  height: 295px;
  position: absolute;
  top: 200px;
  right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.btn-two button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
 }
 .card-header{
    margin-bottom: 20px !important;
    display: flex;
    justify-content: space-between;
 }
 .meterage{

 }
 
 .noadv-text-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .btn-two button.learn-more {
  font-family: 'normalVazir';
  font-weight: 600;
  font-size: 17px;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 .datePicker-margin{
  margin-left: 80px;
 }
 .btn-two button.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 .btn-two button.learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 .btn-two button.learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 .btn-two button.learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 .btn-two button.learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }
 .radio-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-inputs > * {
  margin: 6px;
}

.radio-input:checked + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #2260ff;
  border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
  fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
  color: #2260ff;
}

.radio-input:focus + .radio-tile {
  border-color: #2260ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  min-height: 80px;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}
.detaile-head{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.categorie-radio{
  padding-top: 150px;
  display: flex;
  font-family: 'normalVazir';
  justify-content: center;
}

.transaction-group{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


.customCheckBoxHolder {
  margin: 5px;
  display: flex;
}

.customCheckBox {
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, box-shadow;
  display: flex;
  height: 32px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
  outline: none;
  justify-content: center;
  min-width: 55px;
}

.customCheckBox:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBox .inner {
  font-size: 18px;
  font-weight: 900;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
  transition-property: transform;
  transform: translateY(0px);
}

.customCheckBox:hover .inner {
  transform: translateY(-2px);
}

/* Multiple Checkboxes can be chained together for a radio input */
.customCheckBoxWrapper:first-of-type .customCheckBox {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 0px;
}

.customCheckBoxWrapper:last-of-type .customCheckBox {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0px;
}

.customCheckBoxInput {
  display: none;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
  background-color: #1b61b4;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
  transform: translateY(-2px);
}

.customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
  background-color: #1b61b4;
  box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
}

.customCheckBoxWrapper .customCheckBox:hover .inner {
  transform: translateY(-2px);
}
.left {
  display: flex;
  left: 400px;
  position: absolute;
}
.filter-group{
  display: flex;
  gap: 10px;
}
@media (max-width : 1300px) {
  .adv-text {
    right: 219px;
    position: absolute;
  }
  .adv-img {
    right: 137px;
    position: absolute;
}
    .right-img {
    display: none;
  }
  .circle{
    display: none;
  }
  .hero-img {
    width: 665px;
    /* height: 490px; */
    position: absolute;
    left: 0;
    top: 130px;
  }
  .boble.one {
    position: absolute;
    top: 256px !important;
    left: 59px !important;
  }
  .boble.two {
    position: absolute;
    top: 225px !important;
    left: 470px !important;
  }
  .comment-label {
    display: flex;
    border-radius: 100px 0 0 100px;
    width: 480px;
    height: 150px;
    background-color: #454545;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
  }
  .hero-h1 {
    margin-right: 140px;
  }
}
@media (max-width : 1200px) {

}
@media (max-width : 1150px) {
  .adv-left-text {
    position: absolute;
    left: 150px;
  }
  .advbutton {
    top: 2585px;
    left: 220px;
    position: absolute;
  }
}


@media (max-width : 1100px) {
  .adv-img {
    right: 67px;
    position: absolute;
  }
  .adv-text {
    right: 148px;
    position: absolute;
}
  .comment-label-text {
    font-size: 40px;
  }
  .comment-label-img {
    width: 71px;
    height: 71px;
  }
  .comment-label {
    width: 400px;
    height: 120px;
}
  .hero-img {
    width: 665px;
    position: absolute;
    left: 0;
    top: 130px;
}
.boble.one {
  position: absolute;
  top: 256px !important;
  left: 59px !important;
}
.boble.two {
  position: absolute;
  top: 225px !important;
  left: 470px !important;
}
.hero-h1 {

    width: 250px;
    line-height: 50px;
    height: 255px;
    color: #353535;
    line-height: normal;
    text-align: right;
    font-size: 45px;
    font-weight: 900;
    margin-right: 70px;

}

}
@media (max-width : 1000px) {
  .dashboard-card-group {
    position:unset ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}
  .bg-dashboard-color {
    display: flex;
    justify-content: center;
}
  .dashboard-card-main {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}
  .dashboard-card-container {
    width: 280px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}
.dashboard-card-group .card-container {
    width: 220px;
}
  .dashboard-card-group {
    margin-top: 100px;
}
  .header-brand {
    background-color: rgba(0, 0, 0, 0);
  }
  aside{
    display: none;
  }
  .header-brand {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-right: 20px;
    width: 260px;
    height: 71px;
  }
  .header-name {
    color: white;
    font-weight: 100;
  }
  .brand-img {
    display: none;
  }
    .menu-img svg {
      display: block;
    }
    .adv-text {
      right: 152px;
      top: 2490px;
      position: absolute;
  }
  .adv-left-text {
    top: 2440px;
    position: absolute;
    left: 80px;
  }
    .adv-img {
      right: 67px;
      top: 2375px;
      position: absolute;
  }
  .advbutton {
    top: 2655px;
    left: 140px;
    position: absolute;
  }
    .boble.one {
      position: absolute;
      top: 210px !important;
      left: 50px !important;
  }
  .boble.two {
    position: absolute;
    top: 225px !important;
    left: 370px !important;
  }
    .hero-img {
      width: 500px;
      /* height: 490px; */
      position: absolute;
      left: 0;
      top: 130px;
    }
    .text-two {
      position: absolute;
      top: 21px !important;
      left: 9px !important;
  }
  .text-one {
    position: absolute;
    top: 20px !important;
    left: 16px !important;
  }
  .boble {
    background-color: rgba(255, 255, 255, 0.52);
    width: 70px;
    height: 70px;
    color: #1ED500;
    border-radius: 100px;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .hero-img {
    width: 500px;

  }
  .tree-section{
    position: absolute;
    top: 200px;
    left: 0px;
  }
  .hero-h1 {
    width: 450px;
    font-size: 50px;
    margin-right: 70px;
    margin-top: -75px;
  }
  .profile svg {
    display: none;
  }
  .login-btn{
    display: none;
  }
  .option-text-group {
    display: none;
  }
  .comment-group{
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .comment {
    height: 1020px;
    display: flex;
  }

}
@media (max-width : 950px) {
  .adv-img {
    right: 67px;
    top: 2375px;
    width: 380px;
    height: auto;
    position: absolute;
  }
  .adv-text {
    right: 137px;
    top: 2465px;
    font-size: 30px;
    position: absolute;
  }
  .adv-left-text {
    font-size: 30px;
}
.advbuttonTwo {
  padding: 15px 26px;
  font-size: 1.8rem;
}
}
@media (max-width : 850px) {
  .detaile-container {
    padding: 200px 50px;
}
  footer p {
    font-size: 15px;
}
.copy-right {
  width: 25px;
  height: 25px;
}
  .adv-left-text {
    display: none;
  }
  .box-right {
    top: 200px;
    left: 10px;
    position: absolute;
  }

.advbutton {
  top: 2525px;
  left: 140px;
  position: absolute;
  }
  .box-left {
    width: 302px;
    height: 288px;
    top: 20px;
    left: -343px;
    position: absolute;
    border-radius: 4px 70px 4px 4px;
    background: #3EB1B1;
    box-shadow: 9px 10px 4px 0px rgba(0, 179, 255, 0.25);
  }

}
@media (max-width : 750px) {
  .adv-date{
    font-size: 13px;
    color: #333333a8;
    position: absolute;
    top: 300px;
    left: 50px;
}
  .column {
    width: 26px;
    position: absolute;
    top: 1523px;
    left: 240px;
  }
  .first-comment {
    position: absolute;
    left: 60px;
  }
  .comment-body {
    width: 320px;
  }
  .body-text.top {
    width: 320px;
    height: 150px;
    top: 77px;
    left: 0px;
    position: absolute;
  }
  .body-text.top p {
    width: 242px;
    top: 23px;
    left: 40px;
    position: absolute;
    font-size: 20px;
  }
  .first-comment .head-text {
    width: 128px;
    font-size: 26px;
    top: 15px;
    left: 168px;
    position: absolute;
  }
  .body-text.bottom {
    width: 320px;
  }

  .body-text.bottom p {
    width: 263px;
    height: 54px;
    top: 12px;
    left: 28px;
    position: absolute;
    font-size: 19px;
  }
  .second-comment .head-text {
    font-size: 26px;
    top: 15px;
    left: 0px;
    position: absolute;
  }
  .comment-body-second {
    width: 90px;
    height: 90px;
    top: -45px;
    left: 265px;
    position: absolute;
    border-radius: 100px;
  }
  .comment-body-first {
    width: 90px;
    height: 90px;
    top: -47px;
    left: -34px;
    position: absolute;
    border-radius: 100px;
  }
  .second-comment {
    z-index: 1;
    position: absolute;
    top: 1873px;
    left: 130px;
  }
  .box-right {
    top: 200px;
    left: -60px;
    position: absolute;
    width: 220px;
    height: 200px;
  }
  .box-left-img {
    top: -5px;
    left: 10px;
    width: 104px;
    position: absolute;
  }
  .box-right-img {
  width: 155px !important;
  height: 120px;
  top: 83px;
  left: 64px;
    position: absolute;
  }
  .detaile-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.detaile-sidebar {
  width: 250px;
  margin-right: 0px;
  margin-top: 50px;
}
.detaile-sidebar div {
  padding: 20px !important;
}
.detaile-sidebar {
  width: 320px;
}
  .box-left {
    top: 20px;
    left: -350px;
    position: absolute;
    width: 220px;
    height: 200px;
}
  .adv-text {
    right: 137px;
    width: 250px;
    top: 2465px;
    font-size: 30px;
    position: absolute;
}
  .button-adv.right {
    top: 35px;
    left: 40px;
    position: absolute;
  }
  .button-adv.left {
    top: 124px;
    left: 72px;
    position: absolute;
  }
  .front {
    padding: 8px 24px;
    font-size: 1.1rem;
  }
  .box-left {
      top: 20px;
      left: -350px;
      position: absolute;
  }
  .add-adv-btn .front{
    padding: 12px 27px !important;
  }
}
@media (max-width : 710px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 5px 30px;
}
}
@media (max-width : 650px) {
  .box-left {
    top: 80px;
    left: -350px;
    position: absolute;
    width: 220px;
    height: 200px;
}
.box-right {
  top: 295px;
  left: -120px;
  position: absolute;
  width: 220px;
  height: 200px;
}
.right-text {
  margin-top: 0px;
}
}
@media (max-width : 550px) {
  .detaile-container {
    padding: 130px 50px;
  }
  .adv-date {
    position: absolute;
    top: 230px;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px 5px 20px;
    flex-direction: column;
  }
  .comment-label {
    width: 330px;
    height: 100px;
  }
  .comment-label-text {
    font-size: 35px;
  }
  .comment-label-img {
    width: 50px;
    height: 50px;
}
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.hero-h1 {
  width: 450px;
  text-align: center;
  font-size: 45px;
  margin: auto;
  margin-top: 178px;
}
.header {
  height: 65px;
}
.header-brand {
  width: 220px;
  height: 66px;
}
.header-name {
  font-size: 23px;
}
.brand-img {
  width: 31px;
  height: 31px;
}
.box-right {
  top: 305px;
  left: -250px;
  position: absolute;
  width: 220px;
  height: 200px;
}
.right-text {
  margin-top: -15px;
  margin-right: -35px;
  font-size: 30px;
}
}
@media (max-width : 500px) {
  .residential-group {
    padding: 0;
    padding-top: 60px;
}
  .categorie-radio {
    padding-top: 100px;
}
  .radio-inputs {
    display: flex;
    flex-direction: column;
}
  .comment-label {
    margin-top: 70px;
}
  .comment-group {
    position: absolute;
    top: 70px;
    left: 0px;
  }
  .body-text.top {
    width: 280px;
    height: 180px;
    top: 77px;
    left: 0px;
    position: absolute;
  }
  .comment-body {
    width: 280px;
  } 
  .body-text.bottom {
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 20px;
  }
  .body-text.bottom p {
    width: 217px;
    top: 13px;
    left: 30px;
    position: absolute;
  }
  .first-comment .head-text {
    width: 128px;
    font-size: 26px;
    top: 17px;
    left: 135px;
    position: absolute;
  }
  .body-text.top p {
    width: 242px;
    top: 25px;
    left: 17px;
    position: absolute;
    font-size: 20px;
  }
  .comment-body-second {
    left: 220px;
    position: absolute;
}
  .second-comment {
    z-index: 1;
    position: absolute;
    top: 1900px;
    left: 100px;
}
  .body-text.top {
    border-bottom-right-radius: 20px;
}
.column {
  height: 700px;
  position: absolute;
  top: 1516px;
}
}

@media (max-width : 460px) {
  .adv-date {
    position: absolute;
    top: 230px;
    left: 20px;
    font-size: 13px;
}
  .detaile-container {
    padding: 130px 20px;
}
  .menu-img svg {
    width: 50px;
    height: 50px;
    padding-left: 5px;
    color: white;
    padding-top: 0px;
}
  .network {
    width: 40px;
    height: 40px;
    top: -10px;
    right: 250px;

    position: relative;
}
  .info .right p {
    top: 178px;
    left: 75px;
    height: 29px;
    color: #333333cf;
    text-align: right;
    font-size: 20px;
  }
  .telegram {
    position: relative;
    left: -155px;
  }

  .linkedin {
    position: relative;
    top: 210px;
    left: -45px;
  }
  .github {
    left: 65px;
    position: relative;
} 
  .info .right h3 {
    height: 54px;
    top: 40px;
    right: 105px;
    position: relative;
    font-size: 32px;
}
.email {
  position: relative;
  left: -208px;
}
  .year {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
  footer p {
    font-size: 13px;
}
  .comment-group {
    position: absolute;
    top: 45px;
    left: 0px;
}
  .comment-label {
    width: 270px;
    height: 90px;
}
.comment-label-text {
  font-size: 30px;
}
.comment-label-img {
  width: 42px;
  height: 42px;
}
  .column {
    position: absolute;
    top: 1516px;
    left: 200px;
  }
  .second-comment {
    position: absolute;
    left: 85px;
}
  .header {
    height: 50px;
}
.header-name {
  font-size: 18px;
}
.brand-img {
  width: 25px;
  height: 25px;
}
.header-brand {
  width: 180px;
  height: 51px;
}

  .boble.two {
    position: absolute;
    top: 170px !important;
    left: 280px !important;
}
.boble.one {
  position: absolute;
  top: 140px !important;
  left: 40px !important;
}
  .hero-h1 {
    width: 300px;
    font-size: 35px;
    margin-top: 158px;
  }
  .hero-img {
    width: 400px;
    position: absolute;
    top: 100px;
  }
}
@media (max-width : 400px) {
  .network {
    width: 30px;
    height: 30px;
    top: -10px;
    right: 217px;
    position: relative;
}
  .info .right h3 {
    height: 54px;
    top: 40px;
    right: 105px;
    position: relative;
    font-size: 25px;
}
  footer p {
    font-size: 10px;
}
  .second-comment {
    position: absolute;
    left: 60px;
}
.column {
  position: absolute;
  left: 190px;
}
.comment-body-second {
  left: 210px;
  position: absolute;
}
.comment-body-first {
  left: -20px;
  position: absolute;
}
  .comment-group {
    position: absolute;
    top: 115px;
    left: 0px;
}
  .right-text {
    margin-top: -80px;
    margin-right: -60px;
    font-size: 30px;
}
  .left {
    display: flex;
    left: 375px;
    position: absolute;
}
  .third {
    padding: 120px 60px 0 60px;
  }
  .left {
    display: flex;
    left: 375px;
    top: 760px;
    position: absolute;
  }
  .box-right {
    top: 340px;
    left: -240px;
    position: absolute;
    width: 220px;
    height: 200px;
  }

}

@media (max-width : 390px) {
  .second-comment {
    position: absolute;
    left: 40px;
} 
 .column {
    position: absolute;
    left: 165px;
}
.first-comment {
  position: absolute;
  left: 40px;
}
  .boble.two {
    position: absolute;
    top: 170px !important;
    left: 240px !important;
}
.boble.one {
  position: absolute;
  top: 140px !important;
  left: 40px !important;
}
  .hero-h1 {
    width: 250px;
    font-size: 30px;
    margin-top: 150px;
  }
  .hero-img {
    width: 340px;
    position: absolute;
    top: 90px;
  }
  .text-one {
    position: absolute;
    top: 15px !important;
    left: 12px !important;
}
  .text-two {
    position: absolute;
    top: 16px !important;
    left: 7px !important;
}
  .boble {
    width: 55px;
    height: 55px;
    font-size: 15px !important;
}
}

@media (max-width : 370px) {
  .info .right p {
    top: 178px;
    left: 70px;
    height: 29px;
    color: #333333cf;
    text-align: right;
    font-size: 18px;
  }
  .email {
    position: relative;
    left: -182px;
  }
  .network {
    width: 30px;
    height: 30px;
    top: -10px;
    right: 217px;
    position: relative;
  }
  .info .right h3 {
    height: 54px;
    top: 40px;
    right: 105px;
    position: relative;
    font-size: 25px;
}
  .box-right {
    left: -270px;
    height: 200px;
  } 
}

@media (max-width : 350px) {
  .info .right h3 {
    height: 54px;
    top: 40px;
    right: 105px;
    position: relative;
    font-size: 20px;
}
  .left {
    left: 365px;
    position: absolute;
}
  .second-comment {
    position: absolute;
    left: 25px;
} 
 .column {
    position: absolute;
    left: 150px;
}
.first-comment {
  position: absolute;
  left: 25px;
}
}